:root {
    --page-color : #f4f4f4;
    --blue-card : #7cb3ff;
    --blue-card-hr: white;
    --blue-card-text: white;
    --text-color: #454545;
    --card: white;
    --notice-list-background: #fcfcfc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-color: #212121;
        --blue-card: #005db4;
        --blue-card-hr: white;
        --blue-card-text: white;
        --text-color: white;
        --card: #363636;
        --notice-list-background: #4a4a4a;
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--page-color) ;
    font-family: "Apple SD Gothic Neo", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    height: auto;
    background-color: var(--card);
}

footer {
    height: 5%;
}

table {
    margin: 0 auto;
    width: 90%;
}

tr {
    width: 38%;
}

.pageTitle {
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
    margin: 10% 0 10% 0;
    width: 95.56%;
    color: var(--text-color);
}

.top {
    width: 100%;
}

.top > a >.logo {
    margin: 10px 0 10px 22px;
    width: 15.82%;
}

.top > a >.logoB {
    margin: 10px 0 10px 22px;
    width: 15.82%;
}

.top > a > .backBtn {
    margin: 12px 0 10px 22px;
    width: 15.82%;
}

.loginCard {
    margin: 10px auto;
    border-radius: 10px;
    width: 95.56%;
    padding: 10px 0 10px 0;
    background-color: var(--blue-card);
}

.loginCard > hr {
    margin: 0 0 0 25px;
    width: 50%;
    border: var(--blue-card-hr) solid 0.5px;
}

.loginCard > h1 {
    float: left;
    margin: 20px 0 0 0;
    padding: 0 5px 0 25px;
    font-size: 15pt;
    font-weight: bold;
    color: var(--blue-card-text);
}

.loginCard > h2 {
    margin: 20px 0 5px 0;
    font-size: 15pt;
    font-weight: bold;
    color: var(--blue-card-text);
}

.loginCard > p {
    margin: 7px 0 20px 0;
    padding: 0 0 0 25px;
    font-size: 9pt;
    color: var(--blue-card-text);
}

.loginCard > img {
    float: right;
    margin: -66px 25px 0 0;
    padding: 0;
    width: 12%;
}

.loginCard > h3 {
    float: right;
    margin: -30px 28px 0 0;
    font-size: 8pt;
    font-weight: bold;
    color: var(--blue-card-text);
}

.card {
    z-index: -1;
    margin: 10px auto;
    border-radius: 10px;
    width: 95.56%;
    padding: 10px 0 20px 0;
    background-color: var(--card);
    color: var(--text-color);
}

.card > h1 {
    margin: 20px 0 20px 0;
    padding: 0 0 0 25px;
    font-size: 12pt;
    font-weight: bold;
}

.card > .more {
    font-size: 10pt;
    margin: -40px 20px 20px 0;
    float: right;
}

.articleTypeA {
    float: left;
    border-radius: 10px;
    margin: 0 3% 0 3%;
    padding: 10px 0 0 0;
    width: 40px;
    height: 30px;
    text-align: center;

}

.articleTypeA > a {
    width: 100%;
    height: 100%;
    font-size: 8pt;
    color: var(--blue-card-text);
    font-weight: bold;
}

.card > dl {
    margin: 0 auto;
    width: 90%;
    text-decoration-color: #454545;
    font-weight: normal;
}

.card > dl > .listDeco {
    margin: 5px;
    padding: 3% 0 3% 0;
    border-radius: 10px;
    background: var(--notice-list-background);
}

.card > dl > .listDeco > dt {
    width: 80%;
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card > dl > .listDeco > dd {
    margin: 2px 0 0 40px;
    font-size: 10pt;
}

.card > div {
    text-align: center;
}
.card >  div > img{
    width: 95%;
}

.shortCutTable {
    border-spacing: 8px;
}

.shortCut {
    border-radius: 10px;
    width: 50%;
    background: var(--blue-card);
    color: var(--blue-card-text);
}

.shortCut > h1 {
    margin: 50px 0 15px 0;
    padding: 0 0 0 15px;
    font-size: 15pt;
    font-weight: bold;
}

.shortCut > h6 {
    margin: 10px 0 15px 1px;
    padding: 0 0 0 15px;
    font-size: 7pt;
}

.allServiceIcon {
    text-align: center;
}

.iconTr {
    margin: -80px 0 0 0;
}

.allServiceIconB {
    text-align: center;
    padding: -90px 0 0 0;
}

.iconBox {
    position: absolute;
    z-index: 0;
    width: 10%;
}

.allServiceIcon > img {
    padding: 2px 2px 2px 2px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.allServiceName {
    text-align: center;
    position: relative;
    z-index: 1;
}

.allServiceName > h5 {
    margin: 5px;
    font-size: 9pt;
    font-weight: normal;
}

.stuCard {
    display: none;
    margin: 10px auto;
    border-radius: 10px;
    width: 95.56%;
    padding: 10px 0 20px 0;
    background-color: var(--blue-card);
    color: var(--blue-card-text);
}

.stuCard > hr {
    margin: 0 0 0 25px;
    width: 50%;
    border: var(--blue-card-hr) solid 0.5px;
}

.stuCard > h1 {
    float: left;
    margin: 20px 0 0 0;
    padding: 0 5px 0 25px;
    font-size: 15pt;
    font-weight: bold;
    color: var(--blue-card-text);
}

.stuCard > h2 {
    margin: 20px 0 5px 0;
    font-size: 15pt;
    font-weight: bold;
    color: var(--blue-card-text);
}

.stuCard > p {
    margin: 7px 0 20px 0;
    padding: 0 0 0 25px;
    font-size: 9pt;
    color: var(--blue-card-text);
}

.stuCard > a >.stuImg {
    float: right;
    margin: -66px 25px 0 0;
    padding: 0;
    width: 12%;
}

.stuCard > h3 {
    float: right;
    margin: -30px 28px 0 0;
    font-size: 8pt;
    font-weight: bold;
    color: var(--blue-card-text);
}

.stuCard > div {
    text-align: center;
    margin: 20px 0 0 0;
}

.stuCard > div > .profilePhoto {
    width: 132px;
    height: 170px;
    background-color: var(--text-color);
    border-radius: 10px;
}

.stuCard > div >.jeiuLogo {
    width: 17%;
}

.stuCard > div >.barcode {
    width: 80%;
    margin : 10px;
    border-radius: 5px;
}

/*지원하지 않는 해상도는 숨김*/
@media (min-width: 10px) and (max-width: 319px) {

    .cautionNotice {
        text-align: center;
        margin: 50% auto;
        border-radius: 10px;
        width: 95.56%;
        padding: 35% 0 35% 0;
    }

    .cautionNotice  > a {
        width: 100%;
        height: 100%;
        font-size: 60%;
        font-weight: bold;
        line-height: 2em;
        color: var(--text-color);
    }

    header {
        display: none;
    }

    .card {
        display: none;
    }

    .loginCard {
        display: none;
    }
}

/*iPhone SE 해상도 4 inch ~ 5.0 inch 세로*/
@media (min-width: 320px) and (max-width: 450px) {

    .cautionNotice {
        display: none;
    }

    header {
        width: 100%;
        height: 7.45%;
    }

    .top > a >.logo {
        margin: 13px 0 7px 22px;
        width: 15%;
    }

    .top > a > .backBtn {
        margin: 15px 0 7px 22px;
        width: 3%;
    }

    .card {
        padding: 10px 0 10px 0;
    }

    .card > h1 {
        margin: 10px 0 15px 0;
        padding: 0 0 0 20px;
        font-size: 10pt;
    }

    .card > .more {
        font-size: 8pt;
        margin: -26px 20px 20px 0;
    }

    .articleTypeA {
        padding: 5px 0 5px 0;
        width: 30px;
        height: 20px;
    }

    .card > dl > .listDeco > dt {
        font-size: 10pt;
        margin: 2px 0 0 0;
    }

    .card > dl > .listDeco > dd {
        margin: 1px 0 0 40px;
        font-size: 9pt;
    }

    .shortCutTable {
        border-collapse:initial;
        border-spacing: 5px;
    }

    .shortCut > h1 {
        margin: 45px 0 13px 0;
        padding: 0 0 0 12px;
        font-size: 14pt;
    }

    .shortCut > h6 {
        margin: -10px 0 13px 1px;
        padding: 0 0 0 12px;
        font-size: 6pt;
    }

    .allServiceIcon > img {
        margin: 10px 0 0 0;
        width: 55%;
    }

    .allServiceName > h5 {
        margin: 10px 0 10px 0;
        font-size: 8pt;
    }

}

/*지원하지 않는 해상도는 숨김*/
@media (min-width: 451px) and (max-width: 3000px) {

    .cautionNotice {
        text-align: center;
        margin: 50% auto;
        border-radius: 10px;
        width: 95.56%;
        padding: 35% 0 35% 0;
    }

    .cautionNotice  > a {
        width: 100%;
        height: 100%;
        font-size: 60%;
        font-weight: bold;
        line-height: 2em;
        color: var(--text-color);
    }

    header {
        display: none;
    }

    .card {
        display: none;
    }

    .loginCard {
        display: none;
    }
}

